# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
*.egg-info/

# Alembic
migrations/versions/*.py

# Database
*.db
*.sqlite

# Node
node_modules/
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db